<div class="header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="/kirolElkarteakeditatu">Elkarteak editatu</a></li>
          <li><a href="/partaideak"><b>Partaideak</b></a></li>
          <li><a href="/admin/bazkideak/{{idDenboraldia}}"><b>Bazkideak</b></a></li>
          <li><a href="/admin/taldeak">Taldeak</a></li>
          <!--<li><a href="/admin/berriak">Berriak</a></li>-->
          <li><a href="/admin/partiduordutegiak/{{idDenboraldia}}/{{jardunaldia}}"><b>Partiduen ordutegia</b></a></li>
          <li><a target="_blank" href="/admin/ekitaldiak/{{idDenboraldia}}/{{jardunaldia}}">Ekitaldiak</a></li>
          <li><a href="/admin/partiduak">Partiduak</a></li>
          <li><a href="/admin/partiduemaitzak/{{idDenboraldia}}/{{jardunaldia}}">Emaitzak sartu</a></li>
          <li><a href="/admin/sailkapenak">Sailkapenak</a></li>

          <li><a href="/admin/kudeaketa">Kudeaketa</a></li>

        </ul>

        <ul class="nav nav-tabs" role="tablist">
          <li><a href="/admin/edukiak">Edukiak</a></li>
          <li><a href="/">GAUR EGUN</a></li>
<!--
          <li><a href="/admin/argazkiak">Argazkiak igo</a></li>
-->
          <li><a href="/admin/agiriak">Agiriak</a></li>
          {{#each adminatalak}}
              <li><a href="/admin/atalak/{{idAtalak}}">{{izenaAtala}}</a></li>
          {{/each}}
        </ul>
</div>