
      <div class="header">
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="/">HASIERA</a></li>

          {{#if idPartaideak}}
              <li><a href="/partaideakeditatu/{{idPartaideak}}"><b>Partaidea editatu</b></a></li>
          {{/if}}

          <li><a href="/partiduordutegiak/{{idDenboraldia}}/{{jardunaldia}}"><b>Partiduen ordutegia</b></a></li>
          
          {{#if taldeizena}}
              <li><a href="/jokalariak">Zure taldea</a></li>
            {{else}}
              <li><a href="/taldeak">Taldeak</a></li> 
            {{/if}} 
          
          {{#if taldeizena}}
              <li><a href="/taldepartiduak">Partiduak</a></li>
            {{else}}
              <li><a href="/partiduak/{{idDenboraldia}}/{{jardunaldia}}">Partiduak</a></li>
            {{/if}}
            
          <li><a href="/sailkapenak">Sailkapenak</a></li>
          <li><a href="/partiduemaitzak/{{idDenboraldia}}/{{jardunaldia}}">Emaitzak</a></li>
          <li><a href="/agiriak">Agiriak</a></li>
          <li><a href="/argazkiak">Argazkiak</a></li>
          <li><a target="_blank" href="/kontaktua">Kontaktua</a></li>
        </ul>

        <ul class="nav nav-tabs" role="tablist">
        {{#each atalak}}
              <li><a href="/edukiak/{{idAtalak}}">{{izenaAtala}}</a></li>
        {{/each}}
        </ul>

      </div>

      
