	{{> menu}}
      <div class="jumbotron">
        <h2>Argazkiak</h2>
      </div>

      <div class="row marketing">
        
        

  
          {{#each irudiak}}
          <div class="col-lg-4">
             <a href="/data/argazkiak/{{idKirolElkarteak}}/{{files}}" class="thumbnail">
          		<img src="/data/argazkiak/{{idKirolElkarteak}}/{{files}}" alt="KirolElkartea argazkia"  ref="/data/argazkiak/{{idKirolElkarteak}}/{{files}}" class="thumbnail"> </img> </a>
          </div>
          {{/each}} 
        
        
        
      </div>

     