{{> menuadmin}}

<div class="jumbotron">
        <h2>Bazkideak ikusi</h2>
</div>

<div class="container">


  <a href="/partaideak" class="btn btn-primary btn-sm" role="button">Partaideak ikusi</a>
  <!--<a href="/bazkideakgehitu" class="btn btn-primary btn-sm" role="button">Bazkidea gehitu</a>-->



<div class="row marketing">


        </br></br>


        <div class="form-group">
            <label for="denboraldia" class="col-sm-2 control-label">Denboraldia aukeratu:</label>
            <div class="col-sm-4">
            <select name="denboraldia" id="denboraldia">
                <!--<option value="">--Aukeratu denboraldia--</option>-->
                {{#each denboraldiak}}
                    {{#if aukeratua}}
                       <option value="{{idDenboraldia}}" selected>{{deskribapenaDenb}}</option>
                    {{else}}
                       <option value="{{idDenboraldia}}">{{deskribapenaDenb}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>

        </div>
        </br></br>
        </form> 
            <table class="table table-striped">
            <tr>
                    <th>Izena</th>
                    <th>Abizenak</th>
                    <th>NAN</th>
                    <th>Emaila</th>
                    <th>Telefonoa</th>
                    <th>Herria</th>
                    <th>Ordaintzeko era</th>
                    <th>Ordainduta?</th>
                    <th></th>
                    <th></th>

                </tr>                               
            {{#each data}}
                  <tr>
                    <td>{{izenaPart}}</td>
                    <td>{{abizena1Part}}  {{abizena2Part}}</td>
                    <td>{{nanPart}}</td>
                    <td>{{emailPart}}</td>
                    <td>{{telefonoaPart}}</td>
                    <td>{{herriaPart}}</td>
                    <td>{{deskribapenaOrdainEra}}</td>
                    <td>{{ordainduBazk}}</td>
                    
                     <td>
                        <a class="a-inside edit" href="../admin/bazkideakeditatu/{{idBazkideak}}">Aldatu</a>
                     </td>
                     <td>
                        <a class="a-inside delete" href="../admin/bazkideakezabatu/{{idBazkideak}}">Ezabatu</a> 
                     </td>
                     

                </tr>
            {{/each}}
          </table>
        </div>

        
      </div>
      
</div>



{{#section 'jquery'}}
<script>
  $(document).ready(function(){   

  var denboraldia = $('#denboraldia').val();     
  
    $('#denboraldia').change(function(){


      var data = 'id=' + $('#denboraldia').val();

        $(location).attr('href', '/admin/bazkideak/'+$('#denboraldia').val());
     
    });
  });



            
</script> 


        
{{/section}}