{{> menuadmin}}

     <div class="jumbotron">
        <h2>Bazkidea editatu</h2>
      </div>


<div class="formContainer">
{{#each data}}
    <form class="form-horizontal newsletterForm" role="form" action="/admin/bazkideakaldatu/{{idBazkideak}}" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <div class="form-group">
            <label for="izenaPart" class="col-sm-2 control-label">Bazkidea: </label>
            <div class="col-sm-3">
                {{izenaPart}} {{abizena1Part}} {{abizena2Part}}
            </div>
            <label for="nanPart" class="col-sm-1 control-label">NAN: </label>
            <div class="col-sm-1">
                {{nanPart}}
            </div>
            <label for="bazkideZenbPart" class="col-sm-2 control-label">Bazkide zenbakia: </label>
            <div class="col-sm-1">
                {{bazkideZenbPart}}
            </div>
        </div>

        <div class="form-group">
            <label for="emailPart" class="col-sm-2 control-label">Email: </label>
            <div class="col-sm-3">
                {{emailPart}}
            </div>
            <label for="telefonoaPart" class="col-sm-1 control-label">Telefonoa: </label>
            <div class="col-sm-1">
                {{telefonoaPart}}
            </div>
            <label for="herriaPart" class="col-sm-2 control-label">Herria: </label>
            <div class="col-sm-1">
                {{herriaPart}}
            </div>
        </div>
        <div class="form-group">
            <label for="kontuZenbPart" class="col-sm-2 control-label">Kontu zenbakia: </label>
            <div class="col-sm-3">
                {{kontuZenbPart}} - {{kontuIbanPart}}
            </div>
            <label for="berezitasunakPart" class="col-sm-2 control-label">Berezitasunak: </label>
            <div class="col-sm-4">
                {{berezitasunakPart}}
            </div>
        </div>
        <div class="form-group">
            <label for="egoeraBazk" class="col-sm-2 control-label">Bazkide egoera</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="egoeraBazk" name="egoeraBazk" value={{egoeraBazk}}>
            </div>
        </div>
        <div class="form-group">
            <label for="dataBazk" class="col-sm-2 control-label">Egoera data</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" required id="dataBazk" name="dataBazk" value={{dataBazk}}>
            </div>
        </div>
        <div class="form-group">
            <label for="berezitasunBazk" class="col-sm-2 control-label">Berezitasun</label>
            <div class="col-sm-4">
                <textarea name="berezitasunBazk" placeholder="Nahi baldin bada" rows="1" cols="45" class="form-control">{{berezitasunBazk}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="idOrdaintzekoEraBazk" class="col-sm-2 control-label">Ordaintzeko era</label>
            <div class="col-sm-4">
            <select name="idOrdaintzekoEraBazk" id="idOrdaintzekoEraBazk">
                {{#each ordaintzekoErak}}
                    {{#if aukeratua}}
                       <option value="{{idOrdaintzekoErak}}" selected>{{deskribapenaOrdainEra}}</option>
                    {{else}}
                       <option value="{{idOrdaintzekoErak}}">{{deskribapenaOrdainEra}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ordainduBazk" class="col-sm-2 control-label">Ordainduta?</label>
            <div class="col-sm-4">
                <select name="ordainduBazk" required id="ordainduBazk">
                {{#each ordainduta}}
                    {{#if aukeratua}}
                       <option value="{{izena}}" selected>{{izena}}</option>
                    {{else}}
                       <option value="{{izena}}">{{izena}}</option>
                    {{/if}}
                {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Bazkidea aldatu</button>
            </div>
        </div>
    </form>
    {{/each}}
</div>

      </div>

 