{{#if menuadmin}}
    {{> menuadmin}}                
{{else}}
    {{> menu}}                  
{{/if}}

<input type="hidden" name="admin" id="admin" value="{{menuadmin}}">

   <div class="jumbotron">
        <h2>Ekitaldiak</h2>
   </div>

      {{#if arduraduna}}
       </br>
       <a href="/ekitaldiakgehitu/" class="btn btn-primary btn-bg" role="button">Ekitaldia GEHITU</a>
       </br>
      {{/if}}
       
<!--      </br>
      {{#if menuadmin}}
          <a href="/admin/partiduaktaldeka/" class="btn btn-primary btn-bg" role="button">PARTIDUAK TALDEKA IKUSI</a>                
      {{else}}
          <a href="/partiduaktaldeka/" class="btn btn-primary btn-bg" role="button">PARTIDUAK TALDEKA IKUSI</a>                  
      {{/if}}
       </br>
      </br></br>
-->      
       <div class="form-group">

            <label for="denboraldia" class="col-sm-1 control-label">Denboraldia:</label>
            <div class="col-sm-2">
            <select name="denboraldia" id="denboraldia">
                <!--<option value="">--Aukeratu denboraldia--</option>-->
                {{#each denboraldiak}}
                    {{#if aukeratua}}
                       <option value="{{idDenboraldia}}" selected>{{deskribapenaDenb}}</option>
                    {{else}}
                       <option value="{{idDenboraldia}}">{{deskribapenaDenb}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>

            <label for="jardunaldia" class="col-sm-1 control-label">Jardunaldia:</label>
            <div class="col-sm-2">
            <select name="jardunaldia" id="jardunaldia">
                <option value="">--Aukeratu jardunaldia--</option>
                {{#each jardunaldiak}}
                    {{#if aukeratua}}
                       <option value="{{jardunaldiDataPartidu}}" selected>{{jardunaldiDataPartidu}}</option>
                    {{else}}
                       <option value="{{jardunaldiDataPartidu}}">{{jardunaldiDataPartidu}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
<!--
            <label for="taldea" class="col-sm-1 control-label">TALDEKA :</label>
            <div class="col-sm-2">
            <select name="taldea" id="taldea">
                <option value="">-- Aukeratu taldea --</option>
                {{#each taldeak}}
                    {{#if aukeratua}}
                       <option value="{{idTaldeak}}" selected>{{izenaTalde}} - {{izenaMaila}}</option>
                    {{else}}
                       <option value="{{idTaldeak}}">{{izenaTalde}} - {{izenaMaila}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
--> 
        </div>
      </br></br>
      <div class="row marketing">
        <div class="col-lg-12">
        <table class="table table-condensed">
            <tr>
                    <th></th>
                    <th>Maila</th>
                <!--<th>Txapelketa</th>-->
                    <th>A ekipoa</th>
                    <th>B ekipoa</th>
                    <th>Eguna</th>
                    <th>Lekua</th> 
                    <th>Ordua</th>
                    <th>Bazkideak noiz arte</th>
                    <th>Noiz arte</th>
                    <th>Zenbatentzat</th>
                    <th>Bakoitzak</th>
                    <th>Komentarioa</th>
                </tr>          

            {{#each data}}
                  <tr class="active">
                    <td>  <a target="_blank" class="btn btn-primary btn-bg" role="button" href="/harmailak/{{idEkitaldiak}}">Apuntatzeko</a></td>
                    <td>{{izenaMaila}} {{akronimoTalde}}</td>
                <!--<td>{{txapelketaPartidu}}</td>-->  
                    <td>{{etxekoaPartidu}}</td>   
                    <td>{{kanpokoaPartidu}}</td> 
                  {{#if jardunaldiaIkusgai}}
                    <td>{{dataPartidu}} - {{egunaTexto}}</td> 
                    <td>{{izenaLeku}} - {{herriaLeku}}</td>  
                    <td>{{orduaPartidu}}</td> 
                    <td>{{bazkideeguna}}</td>
                    <td>{{noizarteeguna}}</td>
                    <td>{{zenbatentzat}}</td>
                    <td>{{bakoitzak}}</td>
                    <td>{{komentarioa}}</td>
                  {{else}}
                    <td>{{dataPartidu}}</td>   
                  {{/if}}
                  {{#if admin}}
                    <td><a class="a-inside edit" target="_blank"
                          href="/admin/harmailak/{{idEkitaldiak}}">Harmailak</a></td>
                    <td><a class="a-inside edit" 
                          href="/admin/ekitaldiakeditatu/{{idEkitaldiak}}"> Aldatu</a></td>
                    <td><a class="a-inside delete" 
                          href="/admin/ekitaldiakezabatu/{{idEkitaldiak}}">Ezabatu</a></td>
                  {{else}}
<!--                    <td><a class="a-inside edit" href="/harmailak/{{idEkitaldiak}}">Apuntatzeko</a></td>  -->
                  {{/if}}
                </tr>
            {{/each}}
          </table>

        </div>
      </div>

{{#section 'jquery'}}
<script>
  $(document).ready(function(){  

    var jardunaldia = $('#jardunaldia').val();
    var denboraldia = $('#denboraldia').val();       

    $('#jardunaldia').change(function(){

      if ($('#jardunaldia').val() =="")
        alert("Aukeratu jardunaldia");
      else {

        var data = 'id=' + $('#jardunaldia').val();

        //$(location).attr('href', '/jardunaldikopartiduakpartaide/'+$('#jardunaldia').val());

        if ($('#admin').val()){
          $(location).attr('href', '/admin/ekitaldiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
        }
        else{
          $(location).attr('href', '/ekitaldiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
        }
      }
    });

    $('#denboraldia').change(function(){

        var data = 'id=' + $('#denboraldia').val();

        if ($('#admin').val()){
          $(location).attr('href', '/admin/partiduakmailazka/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
        }
        else{
          $(location).attr('href', '/ekitaldiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
        }     
    });

    var taldea = $('#taldea').val();  

    $('#taldea').change(function(){

        var data = 'id=' + $('#taldea').val();
        
        if ($('#admin').val()){
          $(location).attr('href', '/admin/ekitaldiaktaldeka/'+$('#taldea').val());
        }
        else{
          $(location).attr('href', '/ekitaldiaktaldeka/'+$('#taldea').val());
        }
     
    });

  });
            
</script> 
        
{{/section}}
