<div class="jumbotron">
    <h2>Mila esker laguntzeagatik</h2>
</div>

<div>
  {{#each data}}

	<h3>Eskerrik asko {{arduradunEmailTalde}} <b> {{dataPartidu}} </b>-ko emaitza sartzeagatik!</h3>
	<h3> {{etxekoaPartidu}}  -  {{kanpokoaPartidu}} </h3>
  {{/each}}
	<ul>
		<li><h2>Emaitza :  {{emaitza}} </h2> </li>
		<li><h2>Arbitraia : {{arbitraia}} </h2>  </li>
		<li><h3> Ikusi emaitzak: <a style="color:blue" href="http://zarauzkoeskubaloia.herokuapp.com">http://zarauzkoeskubaloia.herokuapp.com</a> eta aukeratu Emaitzak</h3> </li>
		<li><h2> eskerrik asko!    <b> hAR eta EMan    harreman</b></h2></li>
	</ul>

</div>
