      <div class="row marketing">
      
        {{#each data2}} 
        <div class="col-lg-10 col-sm-offset-1">
        <table class="table table-striped">
            <tr>
                <th align="center">Jard.</th>
                <th align="center">Eguna</th>
                <th align="center">Ordua</th>
                <th align="center">Zelaia</th>
                <th align="center">Multzoa</th>
                <th align="center">A taldea</th>
                <th align="center">B taldea</th>
                <th></th>
            </tr>

            <tr>
                <td align="center" width="5%">{{jardunaldia}}</td>
                <td>{{pareguna}}</td>
                <td>{{parordua}}</td>
                <td align="center">{{zelaia}}</td>
                <td align="center">{{multzo}}</td>
                <td>{{izenafinala1}}</td>      
                <td>{{izenafinala2}}</td> 
                <td>{{i}}</td>       
            </tr>
            </table>
            </br>
            </div>

            <table border="0">
            <tr>
                    <th></th>
                    <th>1.ZATIA</th>
                    <th></th>
                    <th></th>
                    <th>2.ZATIA</th>
                    <th></th>
                    <th></th>
                    <th> </th> 
            </tr>

            <tr>
                    <th>Golak A</th>
                    <th>Golak B</th>
                    <th>Urrezko gola</th>
                    <th>Golak A</th>
                    <th>Golak B</th>
                    <th>Urrezko gola</th>
                    <th>Shut out</th>
                </tr>                               
           
                  <tr>
                    <td width="10%">___</td>
                    <td width="10%"> ___</td>
                    <td width="15%">___</td>
                    <td width="10%"> ___</td>
                    <td width="10%">___</td>
                    <td width="15%">___</td>
                    <td width="10%"> ___</td>        
                </tr>
          
        </table>
        {{#if jauzi}}
            </br></br>
        {{/if}}
        
        {{/each}}

      </div>

      