	{{> menu}}

   <div class="jumbotron">
        <h2>Emaitzak</h2>
      </div>
      </br>
      <a href="/partiduemaitzaktalde/" class="btn btn-primary btn-bg" role="button">EMAITZAK TALDEKA IKUSI</a>

       </br>
        </br></br>
       <div class="form-group">

            <label for="denboraldia" class="col-sm-2 control-label">Denboraldia:</label>
            <div class="col-sm-4">
            <select name="denboraldia" id="denboraldia">
                <!--<option value="">--Aukeratu denboraldia--</option>-->
                {{#each denboraldiak}}
                    {{#if aukeratua}}
                       <option value="{{idDenboraldia}}" selected>{{deskribapenaDenb}}</option>
                    {{else}}
                       <option value="{{idDenboraldia}}">{{deskribapenaDenb}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>

            <label for="jardunaldia" class="col-sm-2 control-label">Jardunaldia:</label>
            <div class="col-sm-4">
            <select name="jardunaldia" id="jardunaldia">
                <option value="">--Aukeratu jardunaldia--</option>
                {{#each jardunaldiak}}
                    {{#if aukeratua}}
                       <option value="{{jardunaldiDataPartidu}}" selected>{{jardunaldiDataPartidu}}</option>
                    {{else}}
                       <option value="{{jardunaldiDataPartidu}}">{{jardunaldiDataPartidu}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>
      </br></br>
      <div class="row marketing">
        <div class="col-lg-12">
        <table class="table table-condensed">
            <tr>
                    <th>Eguna</th>
                    <th>Maila</th>
                    <th>Txapelketa</th>
                    <th>A ekipoa</th>
                    <th>B ekipoa</th>
                    <th>Emaitza</th>
                    
                </tr>          

            {{#each data}}
                  <tr class="active">
                    <td>{{dataPartidu}}</td>  
                    <td>{{izenaMaila}} {{akronimoTalde}}</td> 
                    <td>{{txapelketaPartidu}}</td>  
                    <td>{{etxekoaPartidu}}</td>   
                    <td>{{kanpokoaPartidu}}</td> 
                    {{#if arduraduna}}
                      <!--<td><a class="a-inside edit" href="/emaitzaksartu/{{idPartiduak}}">Emaitza sartu</a></td>-->
                      <form class=-->form-horizontal newsletterForm" role="form" action="/emaitzakgorde/{{idPartiduak}}" method="POST">

                       <td><textarea name="emaitzaPartidu" rows="1" cols="5" class="form-control" required id="emaitzaPartidu" placeholder="0-0" value={{emaitzaPartidu}}>{{emaitzaPartidu}}</textarea></td>
                       <td>
                        <button type="submit" class="btn btn-default">Gorde</button>
                       </td>
                      </form>
                    {{else}} 
                      <td>{{emaitzaPartidu}}</td>
                    {{/if}}
         
                </tr>
            {{/each}}
          </table>

        </div>
      </div>

{{#section 'jquery'}}
<script>
  $(document).ready(function(){    

  var jardunaldia = $('#jardunaldia').val();
  var denboraldia = $('#denboraldia').val();      

    $('#jardunaldia').change(function(){

      if ($('#jardunaldia').val() =="")
        alert("Aukeratu jardunaldia");
      else {

        var data = 'id=' + $('#jardunaldia').val();

        //$(location).attr('href', '/jardunaldikoemaitzak/'+$('#jardunaldia').val());
        $(location).attr('href', '/partiduemaitzak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
      }
    });


   $('#denboraldia').change(function(){

        var data = 'id=' + $('#denboraldia').val();

        $(location).attr('href', '/partiduemaitzak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
     
    });
});
            
</script> 
        
{{/section}}
      