
    {{#each data}}

        <div class="jumbotron">
          <h2>Sarrerak: {{etxekoaPartidu}} - {{kanpokoaPartidu}}</h2>
             
         <p>  {{izenaLeku}} - {{dataPartidu}} - {{orduaPartidu }} - {{txapelketaPartidu}} - {{izenaMaila}}</p> 
        </div>
     
      <div class="row marketing">
        <div class="col-lg-12">
        <table class="table table-condensed">
            <tr>
                    <th>Sarrerak</th>
                    <th>BazkideZkia</th>
                    <th>NAN-Zkia</th>
                    <th>Izen-abizenak</th>
                    <th>telefonoa</th>
                    <th>emaila</th> 
            </tr>          

            <tr class="active" >

                    <td>{{ilara}}-{{eserlekua1}} : {{gunea}}</td>
                    <td>{{bazkidezenbakia}}</td>
                    <td>{{nanzenbakia}}</td>
                    <td>{{izenabizenak1}}</td>   
                    <td>{{telefonoa}}</td> 
                    <td>{{emaila}}</td> 
<!--
                    <td>{{eserlekua2}} -{{bazkidezenbakia2}} - {{jaiotzedata2}}</td>  
                    <td>{{eserlekua3}} -{{bazkidezenbakia3}} - {{jaiotzedata3}}</td>
                    <td>{{eserlekua4}} -{{bazkidezenbakia4}} - {{jaiotzedata4}}</td>
                    <td>{{komentarioa}}</td>
-->
              
             
              </tr>

            <tr class="active" >

                    <td>{{sarrera2}}</td>
                    <td>{{bazkidezenbakia2}}</td>
                    <td>{{nanzenbakia2}}</td>  
                    <td>{{izenabizenak2}}</td>
              
              </tr>

              <tr class="active" >

                    <td>{{sarrera3}}</td>
                    <td>{{bazkidezenbakia3}}</</td>
                    <td>{{nanzenbakia3}}</td>   
                    <td>{{izenabizenak3}}</td>
              </tr>
<!--
              <tr class="active" >
                    <td>{{sarrera4}}</td>
                    <td>{{bazkidezenbakia4}}</td>
                    <td>{{nanzenbakia4}}</td>   
                    <td>{{izenabizenak4}}</td>
              </tr>
-->
            <tr class="active" >
                    <td> </td>
                    <td> </td>
                    <td>*****  ADI ! : </td>
                    <td>{{komentarioa}}</td>
              </tr>
          </table>

        </div>
      </div>
   {{/each}}

        <div class="col-lg-12 ">
              Izena-ematean onartuko baldintzak (sarrera kide guztientzat) :
        </div>
        <div class="form-group col-lg-12" >
            <div class="col-sm-offset-1 col-sm-8">
              <label class="form-check-label" for="gridCheck">
                   Covid19 protokoloa beteko dudala onartu dut. <a href="https://drive.google.com/file/d/1OJB-9I6Js45Dqt5kFY8req2p2U1g41vA/view?usp=sharing" target="_blank" >Protokoloa ikusi</a>
              </label>
            </div>
            <div class="col-sm-offset-1 col-sm-8">
              <label class="form-check-label" for="gridCheck">
                      Nire datuak gordetzea baimendu dut, izen-emateko kudeaketan erabiltzeko             
              </label>
            </div>
            <div class="col-sm-offset-1 col-sm-8">
              <label class="form-check-label" for="gridCheck"> 
                      Izen-ematearen arauren bat hautsiz gero, ondorioak onartzen ditut
              </label>
            </div>
        </div>