{{> menuadmin}}
<div class="jumbotron">
        <h2>Kamiseta kopuruak</h2>
      </div>
  
      </br>
      </br>
      <div class="row marketing">
        <div class="col-lg-5 col-md-offset-1">
        <table class="table table-striped">
                <tr>
                    <th>Neurria</th>
                    <th>Kopurua</th>
                </tr> 
                   <tr>
                    <td>11-13</td> 
                    <td>{{data2}}</td>                
                </tr>                           
                  <tr>
                    <td>12-14</td> 
                    <td>{{data3}}</td>                
                </tr>
                <tr>
                    <td>S</td> 
                    <td>{{data4}}</td>                
                </tr>
                <tr>
                    <td>M</td> 
                    <td>{{data5}}</td>                
                </tr>
                <tr>
                    <td>L</td> 
                    <td>{{data6}}</td>                
                </tr>
                <tr>
                    <td>XL</td> 
                    <td>{{data7}}</td>                
                </tr>
                <tr>
                    <td>XXL</td> 
                    <td>{{data8}}</td>                
                </tr>
                <tr>
                    <td><strong>GUZTIRA</strong></td> 
                    <td><strong>{{data9}}</strong></td>                
                </tr>
          </table>
        </div>
        
      </div>