{{> menuadmin}}

     <div class="jumbotron">
        <h2>Partaideak sortu</h2>
      </div>


<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/partaideaksortu" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <div class="form-group">
            <label for="izenaPart" class="col-sm-2 control-label">Partaidearen izena</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="izenaPart" autofocus name="izenaPart" value={{izenaPart}}>-->
                <textarea name="izenaPart" rows="1" cols="40" class="form-control" required>{{izenaPart}}</textarea>
            </div>
        </div>
         <div class="form-group">
            <label for="abizena1Part" class="col-sm-2 control-label">1. abizena</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="abizena1Part" name="abizena1Part" value={{abizena1Part}}>-->
                <textarea name="abizena1Part" rows="1" cols="40" class="form-control" required>{{abizena1Part}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="abizena2Part" class="col-sm-2 control-label">2. abizena</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="abizena2Part" name="abizena2Part" value={{abizena2Part}}>-->
                <textarea name="abizena2Part" rows="1" cols="40" class="form-control" required>{{abizena2Part}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="nanPart" class="col-sm-2 control-label">NAN</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="nanPart" name="nanPart" value={{nanPart}}>-->
                <textarea name="nanPart" rows="1" cols="40" class="form-control" required>{{nanPart}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="bazkideZenbPart" class="col-sm-2 control-label">Bazkide zenbakia</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="bakzideZenbPart" name="bazkideZenbPart" placeholder="Aurretik bazkide/jokalari izan bazara" value={{bazkideZenbPart}}>
            </div>
        </div>
        <div class="form-group">
            <label for="jaiotzeDataPart" class="col-sm-2 control-label">Jaiotze data</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="jaiotzeDataPart" name="jaiotzeDataPart" value={{jaiotzeDataPart}}>
            </div>
        </div>
        <div class="form-group">
            <label for="helbideaPart" class="col-sm-2 control-label">Helbidea</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="helbideaPart" name="helbideaPart" value={{helbideaPart}}>-->
                <textarea name="helbideaPart" rows="1" cols="40" class="form-control" required>{{helbideaPart}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="postaKodeaPart" class="col-sm-2 control-label">Posta kodea</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="postaKodeaPart" name="postaKodeaPart" value={{postaKodeaPart}}>
            </div>
        </div>
        <div class="form-group">
            <label for="herriaPart" class="col-sm-2 control-label">Herria</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="herriaPart" name="herriaPart" value={{herriaPart}}>-->
                <textarea name="herriaPart" rows="1" cols="40" class="form-control" required>{{herriaPart}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="telefonoaPart" class="col-sm-2 control-label">Telefonoa</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control" required id="telefonoaPart" name="telefonoaPart" value={{telefonoaPart}}>
                <!--<textarea name="telefonoaPart" rows="1" cols="40" class="form-control" required>{{telefonoaPart}}</textarea>-->
            </div>
        </div>
        <div class="form-group">
            <label for="emailPart" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control"  id="emailPart" name="emailPart" placeholder="Kontua sortzeko erabiliko da" value={{emailPart}}>
            </div>
        </div>
<!--
        <div class="form-group">
            <label for="emailPart2" class="col-sm-2 control-label">Errepikatu Email</label>
            <div class="col-sm-4">
                <input type="email2" class="form-control" required id="emailPart2" name="emailPart2" value={{emailPart2}}>
            </div>
        </div>
-->        
        <div class="form-group">
            <label for="kontuZenbPart" class="col-sm-2 control-label">Kontu korronte zenbakia</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" required id="kontuZenbPart" name="kontuZenbPart" value={{kontuZenbPart}}>-->
                <textarea name="kontuZenbPart" rows="1" cols="40" class="form-control">{{kontuZenbPart}}</textarea>
            </div>
        </div>
         <div class="form-group">
            <label for="idOrdaintzekoEraPart" class="col-sm-2 control-label">Ordaintzeko era</label>
            <div class="col-sm-4">
            <select name="idOrdaintzekoEraPart" required id="idOrdaintzekoEraPart">
                <option value="">--Ordaintzeko era aukeratu--</option>
                {{#each ordaintzekoErak}}
                    {{#if aukeratua}}
                       <option value="{{idOrdaintzekoErak}}" selected>{{deskribapenaOrdainEra}}</option>
                    {{else}}
                        <option value="{{idOrdaintzekoErak}}">{{deskribapenaOrdainEra}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="sexuaPart" class="col-sm-2 control-label">Generoa</label>
            <div class="col-sm-4">
                <select name="sexuaPart" required id="sexuaPart">
                <option value="">--Generoa aukeratu--</option>
                {{#each generoa}}
                    {{#if aukeratua}}
                       <option value="{{balioa}}" selected>{{izena}}</option>
                    {{else}}
                       <option value="{{balioa}}">{{izena}}</option>
                    {{/if}}
                {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="berezitasunakPart" class="col-sm-2 control-label">Berezitasunak</label>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" id="berezitasunakPart" name="berezitasunakPart" placeholder="Nahi bada" value={{berezitasunakPart}}>-->
                <textarea name="berezitasunakPart" placeholder="Nahi baldin bada" rows="1" cols="40" class="form-control">{{berezitasunakPart}}</textarea>
            </div>
        </div>
<!--        
        <div class="form-group">
            <label for="pasahitzaPart" class="col-sm-2 control-label">Pasahitza</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="pasahitzaPart" name="pasahitzaPart" placeholder="Sartu pasahitza" value={{pasahitzaPart}} >
            </div>
        </div>
        <div class="form-group">
            <label for="pasahitzaPart2" class="col-sm-2 control-label">Errepikatu Pasahitza</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="pasahitzaPart2" name="pasahitzaPart2" placeholder="Errepikatu aurreko pasahitza" value={{pasahitzaPart2}} >
            </div>
        </div>
-->        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Partaidea sortu</button>
            </div>
        </div>
    </form>
</div>

      </div>

 