{{> menuadmin}}

<div class="jumbotron">
        <h2>Partaide Historiala ikusi</h2>
</div>

 <div class="container">

  <div class="row marketing">

        <div class="col-lg-8">
        
            <table class="table table-striped">
            <tr>
                    <th>Izena</th>
                    <th>Abizenak/Helbidea</th>
                    <th>Jaiotzea</th>
                    <th>NAN / Iban</th>
                    <th>Emaila / Kontua</th>
                    <th>Tlfnoa/Bazkid</th>
                    <th>Herria</th>
                    <th></th>
                    <th></th>

                </tr>                               
            {{#each data}}
                  <tr>
                    <td>{{izenaPart}}</td>
                    <td>{{abizena1Part}}  {{abizena2Part}}</td>
                    <td>{{jaiotzeDataPart}}</td>
                    <td>{{nanPart}}</td>
                    <td>{{emailPart}}</td>
                    <td>{{telefonoaPart}}</td>
                    <td>{{herriaPart}}</td>
                    {{#if balidatutaNegrita}}
                    <td style="font-weight:bold" align="center">{{balidatuta}}</td>
                    {{else}}
                    <td align="center">{{balidatuta}}</td>
                    {{/if}}
                    <td>
                    {{#if ezbazkidea}}
                        <a class="a-inside insert" href="../admin/bazkideaksortu/{{idPartaideak}}">Bazkide egin</a> 
                     {{/if}}
                     </td>

                </tr>
                <tr>
                    <td align="right">{{sexuaPart}}</td>
                    <td align="right">{{helbideaPart}}</td>
                    <td align="right">{{berezitasunakPart}}</td>
                    <td align="right">{{kontuIbanPart}}</td>
                    <td align="right">{{kontuZenbPart}}</td>
                    <td align="right">{{bazkideZenbPart}}</td>
                    <td align="right">{{postaKodeaPart}}</td>
                     <td> </td>
                     <td>
<!--                      <a class="a-inside edit" href="../admin/partaideakeditatu/{{idPartaideak}}">Aldatu</a> -->
                     </td>
                </tr>
                <tr>
                    <th>Denboraldia</th>
                    <th>Kide mota</th>
                    <th>Maila</th>
                    <th>Talde</th>
                    <th>Arduraduna</th>
                    <th>Zenbakia</th>
                    <th>Materiala</th>
                    <th>Bazkide</th>
                    <th></th>
                </tr>
                {{#each historialkide}}
                  <tr>
                    <td align="left">{{deskribapenaDenb}}</td>
                    <td align="left">{{deskribapenMota}}</td>
                    <td align="left">{{izenaMaila}} {{akronimoMaila}} {{akronimoTalde}}</td>
                    <td align="left">{{izenaTalde}}</td>
                    <td align="left">{{izenaPart}}  {{abizena1Part}}  {{abizena2Part}}</td>
                    <td align="left">{{kamixetaZenbKide}}</td>
                    <td align="left">{{materialaKide}}</td>
                    <td align="left">{{bazkideZenbKide}}</td>
                     <td>
<!--                      <a class="a-inside edit" href="../admin/partaideakeditatu/{{idPartaideak}}">Aldatu</a> -->
                     </td>

                  </tr>
                {{/each}} 

                <tr>
                    <th>Denboraldia</th>
                    <th>Bazkide mota</th>
                    <th>Egoera</th>
                    <th>Data</th>
                    <th> </th>
                    <th>Ordain Era</th>
                    <th>Ordaindua</th>
                    <th>Berezitasunak</th>
                    <th></th>
                </tr>
                {{#each historialbazkide}}
                  <tr>
                    <td align="right">{{deskribapenaDenb}}</td>
                    <td align="right">{{deskribapenMota}}</td>
                    <td align="right">{{egoeraBazk}}</td>
                    <td align="right">{{dataBazk}}</td>
                    <td align="right"> </td>
                    <td align="right">{{deskribapenOrdainEra}}</td>
                    <td align="right">{{ordainduBazk}}</td>
                    <td align="right">{{berezitasunBazk}}</td>
                     <td>
<!--                      <a class="a-inside edit" href="../admin/partaideakeditatu/{{idPartaideak}}">Aldatu</a> -->
                     </td>

                  </tr>
                {{/each}}

            {{/each}}
          </table>
        </div>

        
      </div>
      
</div>
