
{{#if menuadmin}}
    {{> menuadmin}}                
{{else}}
    {{> menu}}                  
{{/if}}
   <div class="jumbotron">
        <h2>Partiduen ordutegia</h2>
  </div>


      <div class="form-group">
            <label for="denboraldia" class="col-sm-2 control-label">Denboraldia:</label>
            <div class="col-sm-4">
            <select name="denboraldia" id="denboraldia">
                <!--<option value="">--Aukeratu denboraldia--</option>-->
                {{#each denboraldiak}}
                    {{#if aukeratua}}
                       <option value="{{idDenboraldia}}" selected>{{deskribapenaDenb}}</option>
                    {{else}}
                       <option value="{{idDenboraldia}}">{{deskribapenaDenb}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>

        </div>
       <div class="form-group">
            <label for="jardunaldia" class="col-sm-2 control-label">Jardunaldia:</label>
            <div class="col-sm-4">
            <select name="jardunaldia" id="jardunaldia">
                <option value="">--Aukeratu jardunaldia--</option>
                {{#each jardunaldiak}}
                    {{#if aukeratua}}
                       <option value="{{jardunaldiDataPartidu}}" selected>{{jardunaldiDataPartidu}}</option>
                    {{else}}
                       <option value="{{jardunaldiDataPartidu}}">{{jardunaldiDataPartidu}}</option>
                    {{/if}}
                {{/each}}
            </select>
            {{#if menuadmin}}
            <a href="/admin/jardunaldiaikusgai/{{jardunaldia}}" class="btn btn-primary btn-sm" role="button">Jardunaldia ikusgai jarri</a>
            <p>Ikusgai dagoen jardunaldia: {{jardunaldiaIkusgaiH}}</p>
            {{/if}}

            </div>

        </div>
        
      <div class="row marketing">
        <div class="col-lg-12">
        {{#each data2}}
         <h1 style="color:#FF0000"> {{herriaLeku}} </h3>
         {{#each egunak}}
         <h2 style="color:#069"> {{dataPartidu}}  -  {{egunaTexto}}</h2>

          {{#each lekuak}}

            {{#if lekuaKanpoan}}

            <table class="table table-condensed">
                <tr>
                    <th>NON</th>
                    <th>Irteera ordua</th>                                        
                    <th>Maila</th>
                    <th>Txapelketa</th>
                    <th>A ekipoa</th>
                    <th>B ekipoa</th>
                    <th>Ordua</th>
                    <th>Bidaia nola</th>
                    <th>Bidai eguna</th>
                    <th>Emaitza</th>
                    <th>   </th>
                </tr>          

              {{#each partiduak}}
                  {{#if jauzi}}
                    <br/>
                  {{/if}}              
                  <tr class="active" style="color:{{bidaiKolorePartidu}}">
                    <td>{{nonPartidu}}</td>
                    <td>{{bidaiOrduaPartidu}}</td>                                        
                    <td>{{izenaMaila}} {{akronimoTalde}}</td> 
                    <td>{{txapelketaPartidu}}</td>  
                    <td>{{etxekoaPartidu}}</td>   
                    <td>{{kanpokoaPartidu}}</td>   
                    <td>{{orduaPartidu}}</td> 
                    <td>{{bidaiaNolaPartidu}}</td>
                    <td style="color:#FF0000">{{bidaiEgunaPartidu}}</td>
                    <td>{{emaitzaPartidu}}</td>
                    {{#if admin}}
                    <td><a class="a-inside edit" href="/admin/partiduakeditatu/{{idPartiduak}}">Aldatu</a></td>
                    {{/if}}
                </tr>
              {{/each}}
            </table>


            {{else}}

            <h3 style="color:#7E7B52"> {{lekua}} </h3>

            <table class="table table-striped table-bordered">
             <thead>
                <tr>
                    
                    <th>Maila</th>
                    <th>Txapelketa</th>
                    <th>A ekipoa</th>
                    <th>B ekipoa</th>
                    <th>Ordua</th>
                    <th>Emaitza</th>
                    <th>   </th>
                </tr>  
             </thead>           
             <tbody>
              {{#each partiduak}}
                  {{#if jauzi}}
                    <tr class="active">
                      <td>************************</td>
                      <td>         </td>  
                      <td>         </td>   
                      <td>         </td>   
                      <td>*********</td>
                    </tr>
                  {{/if}} 
                  <tr class="active">
                
                    <td>{{izenaMaila}} {{akronimoTalde}}</td> 
                    <td>{{txapelketaPartidu}}</td>  
                    <td>{{etxekoaPartidu}}</td>   
                    <td>{{kanpokoaPartidu}}</td>   
                    <td>{{orduaPartidu}}</td> 
                    <td>{{emaitzaPartidu}}</td>
                    {{#if admin}}
                    <td><a class="a-inside edit" href="/admin/partiduakeditatu/{{idPartiduak}}">Aldatu</a></td>
                    {{/if}}
                </tr>
              {{/each}}
             </tbody>
            </table>
            {{/if}}





           {{/each}}
          {{/each}}
         {{/each}}
        </div>
      </div>

      <form class="form-horizontal newsletterForm" role="form">
        <input type="hidden" name="admin" id="admin" value="{{menuadmin}}">
      </form> 

{{#section 'jquery'}}
<script>
  $(document).ready(function(){   

  var jardunaldia = $('#jardunaldia').val();
  var denboraldia = $('#denboraldia').val();     
    $('#jardunaldia').change(function(){

     if ($('#jardunaldia').val() =="")
        alert("Aukeratu jardunaldia");
     else {


      var data = 'id=' + $('#jardunaldia').val();

      //$.get('jardunaldikopartiduak/'+$('#jardunaldia').val());
      //document.location.href= "jardunaldikopartiduak/" + $('#jardunaldia').val());

      if ($('#admin').val())
        $(location).attr('href', '/admin/partiduordutegiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
      else
        $(location).attr('href', '/partiduordutegiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
     
     }   
    });

    $('#denboraldia').change(function(){

     //if ($('#jardunaldia').val() =="")
       // alert("Aukeratu jardunaldia");

     //else {

      var data = 'id=' + $('#denboraldia').val();

      if ($('#admin').val())
        $(location).attr('href', '/admin/partiduordutegiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
      else
        $(location).attr('href', '/partiduordutegiak/'+$('#denboraldia').val()+'/'+$('#jardunaldia').val());
     //}
    });
  });



            
</script> 


        
{{/section}}

