{{> menuadmin}}

      <div class="jumbotron">
        <h2>Partiduak aldatu</h2>
      </div>

<div class="formContainer col-sm-offset-1">
{{#each data}}
    <form class="form-horizontal newsletterForm" role="form" action="/admin/partiduakaldatu/{{idPartiduak}}" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        </br>
        
        <div class="form-group">
            <label for="idTaldeakPartidu" class="col-sm-2 control-label">Taldea</label>
            <div class="col-sm-4">
            <select name="idTaldeakPartidu" id="idTaldeakPartidu">
                {{#each taldeak}}
                    {{#if aukeratua}}
                       <option value="{{idTaldeak}}" selected>{{izenaTalde}} - {{izenaMaila}}</option>
                    {{else}}
                        <option value="{{idTaldeak}}">{{izenaTalde}} - {{izenaMaila}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txapelketaPartidu" class="col-sm-2 control-label">Txapelketa</label>
            <div class="col-sm-4">
                <textarea name="txapelketaPartidu" rows="1" cols="40" class="form-control" required>{{txapelketaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="jardunaldiaPartidu" class="col-sm-2 control-label">Jardunaldia</label>
            <div class="col-sm-4">
                <textarea name="jardunaldiaPartidu" rows="1" cols="40" class="form-control" required>{{jardunaldiaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="jardunaldiDataPartidu" class="col-sm-2 control-label">Jardunaldi data</label>
            <div class="col-sm-4">
                <textarea name="jardunaldiDataPartidu" rows="1" cols="40" class="form-control" required>{{jardunaldiDataPartidu}}</textarea>
                <!--<input type="date" class="form-control" required id="jardunaldiDataPartidu" autofocus name="jardunaldiDataPartidu" value={{jardunaldiDataPartidu}}>-->   
            </div>
        </div>

        <div class="form-group">
            <label for="etxekoaPartidu" class="col-sm-2 control-label">Etxeko taldea</label>
            <div class="col-sm-4">
                <textarea name="etxekoaPartidu" rows="1" cols="40" class="form-control" required>{{etxekoaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="kanpokoaPartidu" class="col-sm-2 control-label">Kanpoko taldea</label>
            <div class="col-sm-4">
                <textarea name="kanpokoaPartidu" rows="1" cols="40" class="form-control" required>{{kanpokoaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="orduaPartidu" class="col-sm-2 control-label">Ordua</label>
            <div class="col-sm-4">
                <textarea name="orduaPartidu" rows="1" cols="40" class="form-control" required>{{orduaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="dataPartidu" class="col-sm-2 control-label">Partidu Eguna</label>
            <div class="col-sm-4">
                <textarea name="dataPartidu" rows="1" cols="40" class="form-control" required>{{dataPartidu}}</textarea>
                <!--<input type="date" class="form-control" required id="dataPartidu" autofocus name="dataPartidu" value={{dataPartidu}}>-->
            </div>
        </div>

        <div class="form-group">
            <label for="idLekuakPartidu" class="col-sm-2 control-label">Lekua</label>
            <div class="col-sm-4">
            <select name="idLekuakPartidu" id="idLekuakPartidu">
                {{#each lekuak}}
                    {{#if aukeratua}}
                       <option value="{{idLekuak}}" selected>{{izenaLeku}} - {{herriaLeku}}</option>
                    {{else}}
                        <option value="{{idLekuak}}">{{izenaLeku}} - {{herriaLeku}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="nonPartidu" class="col-sm-2 control-label">Non</label>
            <div class="col-sm-4">
                <textarea name="nonPartidu" rows="1" cols="40" class="form-control" >{{nonPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="bidaiOrduaPartidu" class="col-sm-2 control-label">Bidaia ordua</label>
            <div class="col-sm-4">
                <textarea name="bidaiOrduaPartidu" rows="1" cols="40" class="form-control">{{bidaiOrduaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="bidaiaNolaPartidu" class="col-sm-2 control-label">Bidaia nola</label>
            <div class="col-sm-4">
                <textarea name="bidaiaNolaPartidu" rows="1" cols="40" class="form-control">{{bidaiaNolaPartidu}}</textarea>
                 AUTOBUSEZ - Kotxez - Hegazkinez
            </div>
        </div>

        <div class="form-group">
            <label for="bidaiEgunaPartidu" class="col-sm-2 control-label">Bidaia eguna</label>
            <div class="col-sm-4">
                <textarea name="bidaiEgunaPartidu" rows="1" cols="40" class="form-control">{{bidaiEgunaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="emaitzaPartidu" class="col-sm-2 control-label">Emaitza</label>
            <div class="col-sm-4">
                <textarea name="emaitzaPartidu" rows="1" cols="40" class="form-control">{{emaitzaPartidu}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="bidaiKolorePartidu" class="col-sm-2 control-label">Kolore</label>
            <div class="col-sm-4">
                <input type="color" class="form-control" required id="bidaiKolorePartidu" autofocus name="bidaiKolorePartidu" value={{bidaiKolorePartidu}}>
            </div>
        </div>

        <div class="form-group">
            <label for="arbitraiaPartidu" class="col-sm-2 control-label">Arbitraia (€)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" required id="arbitraiaPartidu" name="arbitraiaPartidu" value={{arbitraiaPartidu}}>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-default">Partidua ALDATU</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" formaction="/admin/partiduaksortu" class="btn btn-default">ADI - Partidu BERRIA</button>
            </div>
        </div>
    </form>
    {{/each}}
</div>

      </div>

<script>

Handlebars.registerHelper('mailaBerdina',function(kategoria, idmaila){
  return kategoria  == idmaila;
});


</script>
