{{#if menuadmin}}
    {{> menuadmin}}                
{{else}}
    {{> menu}}                  
{{/if}}

      <div class="jumbotron">
        <h2>Taldekideak editatu</h2>
        {{#each talde}}
        <h2>Taldekideak</h2>
        <h3>{{izenaTalde}} - {{izenaMaila}}</h3> 
        {{/each}}
      </div>

<div class="formContainer col-sm-offset-1">
{{#each data}}

    {{#if arduraduna}}
        <form class="form-horizontal newsletterForm" role="form" action="/taldekideakaldatu/{{idTaldeakKide}}/{{idTaldekideak}}" method="POST">
    {{else}}
        <form class="form-horizontal newsletterForm" role="form" action="/admin/taldekideakaldatu/{{idTaldeakKide}}/{{idTaldekideak}}" method="POST">
    {{/if}}
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        </br>

        <div class="form-group">
            <label for="idPartaideakKide" class="col-sm-2 control-label">Partaidea</label>
            <div class="col-sm-4">
            <select name="idPartaideakKide" id="idPartaideakKide">
                {{#each partaideak}}
                    {{#if aukeratua}}
                       <option value="{{idPartaideak}}" selected>{{izenaPart}} {{abizena1Part}} {{abizena2Part}}</option>
                    {{else}}
                        <option value="{{idPartaideak}}">{{izenaPart}} {{abizena1Part}} {{abizena2Part}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="idMotaKide" class="col-sm-2 control-label">Partaide mota</label>
            <div class="col-sm-4">
            <select name="idMotaKide" id="idMotaKide">
                {{#each motak}}
                    {{#if aukeratua}}
                       <option value="{{idPartaideMotak}}" selected>{{deskribapenMota}}</option>
                    {{else}}
                        <option value="{{idPartaideMotak}}">{{deskribapenMota}}</option>
                    {{/if}}
                {{/each}}
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="kamixetaZenbKide" class="col-sm-2 control-label">Kamixeta zenbakia</label>
            <div class="col-sm-4">
                <textarea name="kamixetaZenbKide" rows="1" cols="40" class="form-control" >{{kamixetaZenbKide}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="materialaKide" class="col-sm-2 control-label">Materiala</label>
            <div class="col-sm-4">
                <textarea name="materialaKide" rows="1" cols="40" class="form-control" >{{materialaKide}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="bazkideZenbKide" class="col-sm-2 control-label">Bazkide zenbakia</label>
            <div class="col-sm-4">
                <textarea name="bazkideZenbKide" rows="1" cols="40" class="form-control" >{{bazkideZenbKide}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="ordainduKide" class="col-sm-2 control-label">Kuota ordainduta?</label>
            <div class="col-sm-4">
                <select name="ordainduKide" required id="ordainduKide">
                    {{#each ordainduKide}}
                    {{#if aukeratua}}
                       <option value="{{ordainduKide}}" selected>{{ordainduKide}}</option>
                    {{else}}
                        <option value="{{ordainduKide}}">{{ordainduKide}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Gorde</button>
            </div>
        </div>
    </form>
    {{/each}}

</div>

      </div>

<script>

Handlebars.registerHelper('mailaBerdina',function(kategoria, idmaila){
  return kategoria  == idmaila;
});


</script>
