{{> menuadmin}}
 <div class="jumbotron">
        <h2>Talde kopuruak</h2>
      </div>
  
      </br>
      
      <div class="row marketing">
        <div class="col-lg-5 col-sm-offset-1">
        <table class="table table-striped">
                <tr>
                    <th>Kategoria</th>
                    <th>Kopurua</th>
                </tr> 
                   <tr>
                    <td>Benjamin neskak</td> 
                    <td>{{data2}}</td>                
                </tr>                           
                  <tr>
                    <td>Benjamin mutilak</td> 
                    <td>{{data3}}</td>                
                </tr>
                <tr>
                    <td>Alebin neskak</td> 
                    <td>{{data4}}</td>                
                </tr>
                <tr>
                    <td>Alebin mutilak</td> 
                    <td>{{data5}}</td>                
                </tr>
                <tr>
                    <td>Infantil neskak</td> 
                    <td>{{data6}}</td>                
                </tr>
                <tr>
                    <td>Infantil mutilak</td> 
                    <td>{{data7}}</td>                
                </tr>
                <tr>
                    <td><strong>GUZTIRA</strong></td> 
                    <td><strong>{{data10}}</strong></td>                
                </tr>
          </table>
        </div>
        
      </div>