{{> menuadmin}}

   <div class="jumbotron">
        <h2>Taldeak</h2>
      </div>
      <a href="/admin/taldekopurua" class="btn btn-primary btn-sm" role="button">Talde kopurua ikusi</a>
      <a href="/admin/jokalarikopurua" class="btn btn-primary btn-sm" role="button">Jokalari kopurua ikusi</a>
      <a href="/admin/jokalariakikusi" class="btn btn-primary btn-sm" role="button">Jokalariak izenez ikusi</a>
      <a href="/admin/taldeakgehitu" class="btn btn-primary btn-sm" role="button">Taldea gehitu</a>

      <a href="/admin/taldeakkopiatu" class="btn btn-primary btn-sm" role="button">Aurreko denboraldiko taldeak kopiatu</a>

      </br></br>
      <div class="row marketing">
        <div class="col-lg-12">
        <table class="table table-condensed">
            <tr>
                    <th  width="15%">Taldearen izena</th>
                    <th>Maila</th>
                    <th>Akronimoa</th>
                    <th>Arduradunaren emaila</th>
                    <th>Arduradun izen-abizenak</th> 
                    <th>Arduradun telefonoa</th>
                    <th>Sailkapena</th>

                </tr>                               
            {{#each data}}
                  <tr class="active">
                    <td>{{izenaTalde}}</td>  
                    <td>{{izenaMaila}}</td>  
                    <td>{{akronimoTalde}}</td>   
                    <td>{{arduradunEmailTalde}}</td> 
                    <td>{{izenaPart}} {{abizena1Part}} {{abizena2Part}}</td>   
                    <td>{{telefonoaPart}}</td> 
                    <td>{{urlSailkapenTalde}}</td> 
                    <td><a class="a-inside edit" href="/admin/taldekideak/{{idTaldeak}}">Taldekideak</a></td>
                    <td><a class="a-inside edit" href="/admin/taldeakeditatu/{{idTaldeak}}">Aldatu</a></td>
                    <td><a class="a-inside edit" href="/admin/taldeakezabatu/{{idTaldeak}}">Ezabatu</a></td>
 
                    {{#each jokalariak}} 
                    <tr>
                    <td width="20px"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    </tr>
                    {{/each}} 
                </tr>
            {{/each}}
          </table>
        </div>
      </div>
