 

{{#each data}}
      <div class="row marketing" width: "21cm"  height: "29.7cm" display: "block" margin: "0" "auto" margin-bottom: "0.5cm" >
        
          <p><pre>                                                                  {{zenbatgarren}}</pre></p>

<!--      
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;>
-->
        <div class="col-lg-12">
          <p><b><pre>                            BAZKIDE TXARTELA    </pre></b></p>
            </br>
          <p><pre>NAN ZKIA:  <i>{{btnanPart}}</i>                          BAZKIDE ZKIA:   <i>{{btbazkideZenbPart}}</i></pre></p>
            </br>  
          <p><pre>1.ABIZENA:  <i>{{btabizena1Part}}</i>                 2.ABIZENA:  <i>{{btabizena2Part}}</i></pre></p>
            </br>
          <p><pre>IZENA:  <i>{{btizenaPart}}</i>                          JAIOTZE DATA:  <i>{{btjaiotzeDataPart}}</i></pre></p>
            </br>
          <p><pre>HELBIDEA:  <i>{{bthelbideaPart}}</i>                    TFNO ZKIA:  <i>{{bttelefonoaPart}}</i></pre></p>
            </br>
          <p><pre>HERRIA :   <i>{{btherriaPart}}</i>                       POSTAKODEA: <i>{{btpostaKodeaPart}}</i></pre></p>
            </br>
          <p><pre>HELBIDE ELEKTRONIKOA:   <i>{{btemailPart}}</i></pre></p>
            </br>
          <p><pre>ORDAINTZEKO ERA:     <i>{{btdeskribapenaOrdainEra}}</i></pre></p>

          <p><pre>KONTU ZKIA:    <i>{{btkontuZenbPart}}</i></pre></p>

              
          <p><pre>  <a target="_blank" class="a-inside edit" href="/admin/partaideakeditatu/{{btidPartaideak}}">Partaidea ALDATU</a>  </pre></p>
              
          <p><b><pre>                              JOKALARIEN DATUAK - {{bazkideZenbKide}}   </pre></b></p>
            </br>
          <p><pre>KATEGORIA ETA TALDEA:  <i>{{izenaTalde}} - {{izenaMaila}}</i></pre></p>            
          <p><pre>IZEN ABIZENAK:   <i>{{izenaPart}}  {{abizena1Part}}  {{abizena2Part}}</i></pre></p>
            </br>
          <p><pre>JAIOTZE DATA:  <i>{{jaiotzeDataPart}}</i>                TFNO ZKIA:  <i>{{telefonoaPart}}</i></pre></p>
            </br>
<!--          <p><pre>KATEGORIA ETA TALDEA:  {{izenaTalde}} - {{izenaMaila}}</pre></p>
-->
          <p><pre>HELBIDEA:   <i>{{helbideaPart}}</i></pre></p>
            </br>
          <p><pre>UDALHERRIA:   <i>{{herriaPart}}</i>             POSTAKODEA: <i>{{postaKodeaPart}}</i>       N.A.N.: <i>{{nanPart}}</i></pre></p>
            </br>
          <p><pre>HELBIDE ELEKTRONIKOA:   <i>{{emailPart}}</i></pre></p>
            </br>
<!--          <a target="_blank" class="a-inside edit" href="/admin/partaideakeditatu/{{idPartaideak}}">Jokalaria ALDATU      </a> 
          <a target="_blank" class="a-inside edit" href="/admin/taldekideakeditatu/{{idTaldekideak}}">-  Bazkide Zkia  ALDATU</a>
-->   
                 </br>
          </br> 

               
        </div>
      </div>
{{/each}}