{{> menuadmin}}
   
   <div class="jumbotron">
   {{#each talde}}

        <h3>Taldekideak    {{izenaTalde}} - {{izenaMaila}}</h3> 
   </div>
   <a href="/admin/taldekideakgehitu/{{idTaldeak}}" class="btn btn-primary btn-bg" role="button">Taldekidea gehitu</a>
   <a href="/admin/taldekideakkopiatu/{{idTaldeak}}/{{idDenboraldia}}/{{idTaldeak}}" class="btn btn-primary btn-bg" role="button">Taldekideak kopiatu</a>

   {{/each}}
        </br>

       <div class="row marketing">
       {{#each irudiak}}
          <div class="col-md-4 col-md-offset-4">
             <a href="/data/taldeargazkiak/{{idKirolElkarteak}}/{{idTaldeak}}/{{files}}" class="thumbnail">
              <img src="/data/taldeargazkiak/{{idKirolElkarteak}}/{{idTaldeak}}/{{files}}" alt="Taldearen argazkia"  ref="/data/taldeargazkiak/{{idKirolElkarteak}}/{{idTaldeak}}/{{files}}" class="thumbnail"> </img> </a>

              </div>
         {{/each}} 
         <div class="col-md-4 col-md-offset-4">
              <a href="/admin/taldeargazkia/{{idTaldeak}}" class="btn btn-primary btn-bg" style="margin:auto; text-align:center; display:block;" role="button">Argazkia gehitu/aldatu</a>
          </div>

      </div>

      </br>

      <div class="row marketing">
        <div class="col-lg-12">
        <table class="table table-condensed">
            <tr>
                    <th>NAN DNI</th>
                    <th>Mota</th>
                    <th>IZENA</th>
                    <th>1.ABIZENA</th>
                    <th>2.ABIZENA</th>
                    <th>HELBIDEA</th>
                    <th>HERRIA</th>
                    <th>JAIO.DATA</th>
                    <th>Kamixeta zenbakia</th>
                    <th>Materiala</th>
                    <th>Ordainketa</th> 
                    <th>Bazkide zenbakia</th>

                </tr>                               
            {{#each data}}
                  <tr class="active">
                    <td>{{nanPart}}</td>
                    <td>{{deskribapenMota}}</td>
                    <td>{{izenaPart}}</td>  
                    <td>{{abizena1Part}}</td>
                    <td>{{abizena2Part}}</td>  
                    <td width="20%">{{helbideaPart}}</td>
                    <td>{{herriaPart}}</td>
                    <td>{{jaiotzeDataPart}}</td>   
                    <td>{{kamixetaZenbKide}}</td> 
                    <td>{{materialaKide}}</td>   
                    <td>{{ordainduKide}}</td> 
                    <td>{{bazkideZenbKide}}</td> 
                    <td><a class="a-inside edit" href="/admin/partaideakeditatu/{{idPartaideakKide}}">Partaide</a></td> 
                    <td><a class="a-inside edit" href="/admin/taldekideakeditatu/{{idTaldekideak}}">Aldatu</a></td>
                    <td><a class="a-inside edit" href="/admin/taldekideakezabatu/{{idTaldeak}}/{{idTaldekideak}}">Ezabatu</a></td>
 
                </tr>
            {{/each}}
          </table>
        </div>
      </div>
